---
title: Daniel's coding adventures.
layout: layouts/home.njk
description: A blog about my coding adventures.
image: https://i.ibb.co/QdBZ3jG/banner.png
date: Last Modified
---

<p>
  This is a modified blog based on 
  <a href="https://github.com/google/eleventy-high-performance-blog">eleventy-high-performance-blog</a>.
</p>

<div id="posts">
  <h2>Posts</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>